/*** Admin ***/
#edit-field-settings-checkbtn .form-item-field-settings-checkbtn {display: inline !important;}

/*** Form ***/
.field-type-term-matrix table tr td div.form-type-checkbox {display: none;}

table th {text-align: center;}
table td.taxo-matrix-row-desc {vertical-align: middle;}
a.taxo-term {
	width: 38px;
	height: 38px;
	text-indent: 9999px;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
a.chosen {
	background: #16a6b6;
	border-radius: 19px;
}